@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!doctype html>
<html>

    <head>
        <link rel="shortcut icon" href="/devtools-samples/favicon-96x96.png" />
        <title>範例：開始使用 Chrome DevTools 偵錯 JavaScript程式</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h1 {
                font-size: 1.5em
            }

            input,
            button {
                min-width: 72px;
                min-height: 36px;
                border: 1px solid grey;
            }

            label,
            input,
            button {
                display: block;
            }

            input {
                margin-bottom: 1em;
            }
        </style>
    </head>

    <body>
        <h1>範例：開始使用 Chrome DevTools 偵錯 JavaScript程式</h1>
        <label for="num1">請輸入數字 1</label>
        <input placeholder="數字 1" id="num1">
        <label for="num2">請輸入數字 2</label>
        <input placeholder="數字 2" id="num2">
        <button>計算數字 1 及數字 2 相加起來的結果</button>
        <p></p>
        <script>
            function onClick() {
                if (inputsAreEmpty()) {
                    label.textContent = 'Error: one or both inputs are empty.';
                    return;
                }
                updateLabel();
            }
            function inputsAreEmpty() {
                if (getNumber1() === '' || getNumber2() === '') {
                    return true;
                } else {
                    return false;
                }
            }
            function updateLabel() {
                var addend1 = getNumber1();
                console.log('addend1:', addend1);
                var addend2 = getNumber2();
                console.log('addend2:', addend2);
                var sum = parseInt(addend1) + parseInt(addend2);
                console.log('sum:', sum);
                label.textContent = addend1 + ' + ' + addend2 + ' = ' + sum;
            }
            function getNumber1() {
                return inputs[0].value;
            }
            function getNumber2() {
                return inputs[1].value;
            }
            var inputs = document.querySelectorAll('input');
            var label = document.querySelector('p');
            var button = document.querySelector('button');
            button.addEventListener('click', onClick);
        </script>
    </body>

</html>
