@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    
    <h1>Waiting PartialAsync</h1>
    
    @await Html.PartialAsync("_PartialHelloWorld")

</body>
</html>
