[Oo]bj/*.*
[Oo]bj/Debug/*.*
[Oo]bj/Release/*.*
[Oo]bj/Debug/net8.0/*.*
[Oo]bj/Release/net8.0/*.*

[Bb]in/*.*
[Bb]in/Debug/*.*
[Bb]in/Release/*.*
[Bb]in/Debug/net8.0/*.*
[Bb]in/Release/net8.0/*.*
