@{
    ViewData["Title"] = "Demo04";
    Layout = "_Layout";
}

<h3 class="text-primary">Razor Demo04</h3>
<h4 class="text-danger">可以使用變數來儲存值</h5>
    <hr>

    <!-- 儲存字串變數 -->
@{
    var welcomeMessage = "新會員您好，歡迎您的到來！";
}
    <p>@welcomeMessage</p>

    <!-- 儲存數字變數 -->
@{
    var year = DateTime.Now.Year;
}

    <!-- 顯示變數值 -->
    <p>感謝您於 @year 年加入我們，成為新會員 !</p>
