@{
    ViewData["Title"] = "Demo09";
    Layout = "_Layout";
}

<h3 class="text-primary">Razor Demo09</h3>
<h4 class="text-danger">輸出 @@ 符號</h5>
<hr>

<p>要輸出 @@ 符號需要使用 <code>@@</code> 才能正常輸出 @@</p> 
<p>我的電子信箱是：tom@gmail.com</p> 